@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: 'poppins', sans-serif;
    width: 100%;
    height: 100vh;
    background: #121213;
    display: grid;
    place-items: center;




}

header {
    width: 85%;
    height: 95%;
    /* border: 1px solid #fff;*/
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;

}

header .menu_side,
.song_side {
    width: 25%;
    height: 90%;
    background: #111727;
    box-shadow: 5px 0px 2px #090f1f;
    color: #fff;

}

header .song_side {
    width: 75%;
    background: #000000;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
    z-index: 2;

}

header .song_side::before {

    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: url('image/img\ 96.jpeg');

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: -1;


}

header .master_play {
    width: 100%;
    height: 10%;
    /* border: 1px solid #fff;*/
    background: #111727;
    box-shadow: 0px 3px 8px #090f1f;

}

header .menu_side h1 {
    font-size: 20px;
    margin: 15px 0px 0px 20px;
    font-weight: 500;

}

header .menu_side .playlist {
    margin: 40px 0px 0px 20px;
}

header .menu_side .playlist h4 {
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    color: #4c5262;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: .3s linear;


}

.menu_side::-webkit-scrollbar {
    display: none;
}

header .menu_side .playlist h4:hover {
    color: #fff;

}

header .menu_side .playlist h4 span {
    position: relative;
    margin-right: 35px;
}

header .menu_side .playlist h4 span::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border: 2px solid #4c5262;
    border-radius: 50%;
    top: -4px;
    transition: .3s linear;
}

header .menu_side .playlist h4 :hover span::before {
    border: 2px solid #fff;
}

header .menu_side .playlist h4 .bi {
    display: none;
}

header .menu_side .playlist .active {
    color: #36e2ec;
}

header .menu_side .playlist .active span {
    display: none;
}

header .menu_side .playlist .active .bi {
    display: flex;
    margin-right: 20px;
}

header .menu_side .menu_song {
    width: 100%;
    height: 300px;
    margin-top: 40px;
    overflow: scroll;
}

header .menu_side .menu_song::-webkit-scrollbar {
    display: none;
}


header .menu_side .menu_song li {
    list-style-type: none;
    position: relative;
    padding: 5px 0px 5px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s linear;

}

header .menu_side .menu_song li:hover {
    background: rgb(105, 105, 105, .1);
}

header .menu_side .menu_song li span {
    font-size: 12px;
    font-weight: 600;
    color: #4c5262;

}

header .menu_side .menu_song li img {
    width: 32px;
    height: 32px;
    margin-left: 25px;
}

header .menu_side .menu_song li h5 {
    font-size: 11px;
    margin-left: 15px;
    width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;


}

header .menu_side .menu_song li h5 .subtitle {
    font-size: 9px;
    color: #4c5262;

}


header .menu_side .menu_song li .bi {
    position: absolute;
    right: 15px;
    font-size: 15px;


}

header .master_play {
    display: flex;
    align-items: center;
    padding: 0px 20px;
    z-index: 2;
}

header .master_play .wave {
    width: 30px;
    height: 30px;
    /* border: 1px solid #fff ;*/
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
}

header .master_play .wave .wave1 {
    width: 3px;
    height: 10px;
    background: #36e2ec;
    margin-right: 3px;
    border-radius: 10px 10px 0px 0px;
    animation: wave 2s linear infinite;

}

header .master_play .wave .wave1:nth-child(2) {

    height: 13px;
    margin-right: 3px;
    animation: wave 2s linear 0.7s infinite;
}

header .master_play .wave .wave1:nth-child(3) {
    height: 10px;
    animation: wave 2s linear 0.15s infinite;
}

/* javascript classes */

header .master_play .active1 .wave1 {
    animation: wave .5s linear infinite;
}

header .master_play .active1 .wave1:nth-child(2) {


    animation: wave .5s linear 0.4s infinite;
}

header .master_play .active1 .wave1:nth-child(3) {

    animation: wave .5s linear 0.3s infinite;
}

@keyframes wave {
    0% {
        height: 10px;

    }

    50% {
        height: 15px;

    }

    100% {
        height: 10px;

    }

}

header .master_play img {
    width: 35px;
    height: 35px;
}

header .master_play h5 {
    width: 130px;
    margin-left: 15px;
    color: #36e2ec;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;

}

header .master_play h5 .subtitle {
    font-size: 11px;
    color: #36e2ec;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;


}

header .master_play .icon {
    font-size: 20px;
    color: #fff;
    margin: 0px 20px 0px 40px;
    outline: none;
    display: flex;
    align-items: center;

}

header .master_play .icon .bi {
    cursor: pointer;
    outline: none;


}

header .master_play .icon .shuffle {
    font-size: 17px;
    margin-right: 10px;
    width: 17.5px;
    overflow: hidden;
    display: flex;
    align-items: center;


}

header .master_play .icon #download_music {

    font-size: 20px;
    margin-left: 10px;
}

header .master_play .icon .bi:nth-child(3) {

    border: 1px solid rgb(105, 105, 105, .1);
    border-radius: 50%;
    padding: 1px 5px 0px 7px;
    margin: 0px 5px;
}

header .master_play span {
    color: #fff;
    width: 32px;
    font-size: 11px;
    font-weight: 400;
}

header .master_play #currentstart {
    margin: 0px 0px 20px;

}

header .master_play .bar {
    position: relative;
    width: 43%;
    height: 2px;
    background: rgb(105, 105, 172, .1);
    margin: 0px 15px 0px 9px;
}



#seek {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: seagreen;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    z-index: 8;
    position: absolute;
    top: -7px;
    left: 0;

}
#seek::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1px;
    height: 20px;
    box-shadow: -400px 0 0 400px cyan;
}

#currentEnd{
    position: absolute;
    width: 38px;
    right: 0px;
}

header.song_side {
    z-index: 2;

}

header .song_side nav {
    width: 90%;
    height: 10%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header .song_side nav ul {
    display: flex;

}

header .song_side nav ul li {
    list-style: none;
    position: relative;
    font-size: 13px;
    color: #4c5262;
    margin-right: 25PX;
    cursor: pointer;
    transition: .3S linear;
}

header .song_side nav ul li:hover {
    color: #36e2ec;
}

header .song_side nav ul li:nth-child(1) {
    color: #36e2ec;
}

header .song_side nav ul li span {
    position: absolute;
    width: 100%;
    height: 2.5px;
    background: #36e2ec;
    bottom: -5px;
    left: 0;
    border-radius: 20px;
}

header .song_side nav .Saerch {
    position: relative;
    width: 40%;
    padding: 1px 10px;
    border-radius: 20px;
    color: gray;
}

header .song_side nav .Saerch::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(184, 184, 184, .1);
    border-radius: 20px;
    backdrop-filter: blur(spx);
    z-index: -1;
}

header .song_side nav .Saerch::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(184, 184, 184, .1);
    border-radius: 20px;
    backdrop-filter: blur(spx);
    z-index: -1;
}

header .song_side nav .Saerch .bi {
    font-size: 13px;
    padding: 3px 0px 0px 10px;
}

header .song_side nav .Saerch input {
    background: none;
    border: none;
    outline: none;
    padding: 0px 10px;
    color: #36e2ec;
    font-size: 12px;
}

header .song_side nav .user {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

header .song_side nav .user img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 2px 2px 8px #36e2ec;
}

header .song_side .content {
    width: 90%;
    height: 30%;
    margin: auto;
    padding-top: 20px;

}

header .song_side .content h1 {
    font-size: 25px;
    font-weight: 600;

}

header .song_side .content p {
    font-size: 11px;
    font-weight: 400;
    color: #4c5262;
    margin: 5px;

}

header .song_side .content .buttons {
    margin-top: 15px;

}

header .song_side .content .buttons button {
    width: 100px;
    height: 30px;
    border: 2px solid #36e2ec;
    outline: none;
    border-radius: 20px;
    background: #5adae0;
    color: #fff;
    cursor: pointer;
    transition: .3s linear;
}

header .song_side .content .buttons button:hover {
    background: none;
    color: #36e2ec;
}

header .song_side .content .buttons button:nth-child(2) {
    background: none;
    color: #36e2ec;
}

header .song_side .content .buttons button:nth-child(2):hover {
    background: #36e2ec;
    color: #fff;
}

header .song_side .popular_song {
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 0px;
    overflow: scroll;
    scroll-behavior: smooth;

}

header .song_side .popular_song::-webkit-scrollbar {
    display: none;

}



header .song_side .popular_song .h4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

}

.btn_s {
    position: absolute;
    right: 40px;
    z-index: 99999;
}

header .song_side .popular_song .h4 .bi {
    color: #a4a8a4;
    cursor: pointer;
    transition: .3s linear;
}

header .song_side .popular_song .h4 .bi:hover {
    color: #fff;
}

header .song_side .popular_song .pop_song {
    width: 100%;
    height: 150px;
    margin-top: 15px;
    display: flex;
}

header .song_side .popular_song .pop_song li {
    min-width: 100px;
    height: 140px;
    list-style-type: none;
    margin-right: 10px;
    transition: .3s linear;
}

header .song_side .popular_song .pop_song li:hover {
    background: rgb(105, 105, 170, .1);
}

header .song_side .popular_song .pop_song li .img_play {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .song_side .popular_song .pop_song li .img_play img {
    width: 100%;
    height: 100%;
}

header .song_side .popular_song .pop_song li .img_play .bi {
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    transition: .3s linear;
    opacity: 0;

}

header .song_side .popular_song .pop_song li:hover .img_play .bi {

    opacity: 1;

}

header .song_side .popular_song .pop_song li:hover .img_play .bi {

    opacity: 1;

}

header .song_side .popular_song .pop_song li h5 {
    padding: 5px 0px 0px 5px;
    line-height: 15px;
    font-size: 10px;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;



}

header .song_side .popular_song .pop_song li h5 .subtitle {

    font-size: 9px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: grey;
}

header .song_side .popular_artists {
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 15px;

}

header .song_side .popular_artists .h4 {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header .song_side .popular_song .h4 .bi {
    color: #a4a8a4;
    cursor: pointer;
    transition: .3s linear;
}

header .song_side .popular_song .h4 .bi:hover {
    color: #fff;
}

header .song_side .popular_artists .item {
    width: 100%;
    height: auto;
    margin-top: 15px;
    display: flex;
    overflow: auto;
    scroll-behavior: smooth;

}

header .song_side .popular_artists .item::-webkit-scrollbar {
    display: none;

}

header .song_side .popular_artists .item li {
    list-style-type: none;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;

}

header .song_side .popular_artists .item li img {
    width: 100%;
    height: 100%;
    border-radius: 50%;


}